{% extends "base.html" %}

{% block content %}
    <style>
    img {
    float: left;
    border: 1px dotted black;
    margin: 0px 0px 15px 20px;
    }
    </style>

    <h1>About Me</h1>
    <p>
    <img src="static/images/literally_me.jpg" alt="Literally me!" style="width:250px;height:300px;">
    My name is Payton Taylor. I am a senior at Northeastern University studying physics with minors in mathematics and German. Currently, I am assisting Prof. Johan Bonilla Castro with their research, working directly under the PhD student John Aremu.
    <br>
    I like boardgames, tabletop rpgs, card games, and video games.
    </p>

{% endblock %}